<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Добрый день, {username}!</h1>
<p>Ваш баланс: {balance} р.</p>

<ul>
    <li>
        <a href="/operations.csv">Выгрузить все отчёты в CSV</a>
    </li>
    <li>
        <a href="/operations.json" target="_blank">Выгрузить все отчёты в json</a>
    </li>
    <li>
        <a href="/operations.xml" target="_blank">Выгрузить все отчёты в xml</a>
    </li>
</ul>

</body>
</html>
